---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or
page.header.image %} {% include page__hero.html %} {% elsif page.header.video.id
and page.header.video.provider %} {% include page__hero_video.html %} {% endif
%} {{ content }}

<div id="about-us" class="">
  <div id="about-header">
    <div class="">
      <h2>Meet Our Team</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur.
      </p>
    </div>
  </div>
  <div id="team-container">
    <div class="team-contents">
      <div class="team-card">
        <img
          src="{{ site.baseurl }}/assets/images/profile-icon.png"
          class="team-pic"
        />
        <h3 class="">Name</h3>
        <p class="bold">Developer</p>
        <p class="smaller">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>
      <div class="team-card">
        <img
          src="{{ site.baseurl }}/assets/images/profile-icon.png"
          class="team-pic"
        />
        <h3 class="">Name</h3>
        <p class="bold">Developer</p>
        <p class="smaller">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>
      <div class="team-card">
        <img
          src="{{ site.baseurl }}/assets/images/profile-icon.png"
          class="team-pic"
        />
        <h3 class="">Name</h3>
        <p class="bold">Developer</p>
        <p class="smaller">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>
      <div class="team-card">
        <img
          src="{{ site.baseurl }}/assets/images/profile-icon.png"
          class="team-pic"
        />
        <h3 class="">Name</h3>
        <p class="bold">Developer</p>
        <p class="smaller">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>
    </div>
  </div>
  <div id="contact-container">
    <img
      src="{{ '/assets/images/bg-contact.jpg' | relative_url }}"
      class="bg-img"
    />
    <form class="relative" action="">
      <h3 class="relative">Contact us</h3>
      <div class="form-group">
        <div class="form-control">
          <label class="" for="name">Name</label>
          <input name="name" id="name" required />
        </div>
        <div class="form-control">
          <label class="" for="email">Eamil</label>
          <input type="email" name="email" id="email" required />
        </div>
      </div>
      <div class="form-control">
        <label class="" for="subject">Subject</label>
        <input name="subject" id="subject" required />
      </div>
      <div class="form-control">
        <label class="" for="message">Message</label>
        <textarea name="message" id="message" rows="5" required></textarea>
      </div>
      <button class="btn btn--primary btn--medium">SEND</button>
    </form>
  </div>
</div>
