---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or
page.header.image %} {% include page__hero.html %} {% elsif page.header.video.id
and page.header.video.provider %} {% include page__hero_video.html %} {% endif
%}

<div id="main" role="main">
  <article class="splash" itemscope itemtype="https://schema.org/CreativeWork">
    {% if page.title %}<meta
      itemprop="headline"
      content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}"
    />{% endif %} {% if page.excerpt %}<meta
      itemprop="description"
      content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}"
    />{% endif %} {% if page.date %}<meta
      itemprop="datePublished"
      content="{{ page.date | date_to_xmlschema }}"
    />{% endif %} {% if page.last_modified_at %}<meta
      itemprop="dateModified"
      content="{{ page.last_modified_at | date_to_xmlschema }}"
    />{% endif %}

    <section class="page__content" itemprop="text">
      {{ content }}

      <div class="landing-body">

        <section id="how-it-works" class="">

            <h1>How it works</h1>
            <div class="steps">
              <div class="step">
                <div class="step-content">
                  <h3>
                    <span
                      class="number"
                      >1</span
                    >
                    Sign Up
                  </h3>
                  <div class="step-underline"></div>
                  <p>An account should be created and verified.</p>
                </div>
              </div>
              <div class="step">
                <div class="step-content">
                  <h3>
                    <span
                      class="number"
                      >2</span
                    >
                    Automatic alerts
                  </h3>
                  <div class="step-underline"></div>
                  <p>Alerts are drawn from reputable sources</p>
                </div>
              </div>
              <div class="step">
                <div class="step-content">
                  <h3>
                    <span
                      class="number"
                      >3</span
                    >
                    Interact
                  </h3>
                  <div class="step-underline"></div>
                  <p>
                    Users communicate on forums via posts.
                  </p>
                </div>
              </div>
        </section>

        <section id="features" class="shadow-card">
            <img src="{{ '/assets/images/bg-crop.jpg' | relative_url }}" class="bg-img img-light"/>
            <h1 class="relative">Features</h1>

            <div class="features-content relative">
                <div class="feature">
                  <div class="rounded-full"> 
                    <span class="iconify" data-icon="uil:comment-verify"></span>
                  </div>
                  <div class="lead">
                    Verified Users
                  </div>
                  <p class="">
                    Unlike other apps and platforms, WeConnect uses a verification process to determine which accounts are valid. 
                  </p>
                </div>
                <div class="feature">
                  <div class="rounded-full">
                    <span class="iconify" data-icon="ion:information-circle-outline"></span>
                  </div>
                  <div class="lead">
                    Information relevant to our Jamaican society
                  </div>
                  <p class="">
                    Each community hub has access to information on Jamaica's missing persons, wanted persons and general news.
                  </p>
                </div>
                <div class="feature">
                  <div class="rounded-full">
                    <span class="iconify" data-icon="healthicons:forum-outline"></span>
                  </div>
                  <div class="lead">
                    Forums
                  </div>
                  <p class="">
                    Users can view and create posts on forums. Each community has a forum, and users can also create their own forums.
                  </p>
                </div>
                <div class="feature">
                  <div class="rounded-full">
                    <span class="iconify" data-icon="eva:alert-circle-outline"></span>
                  </div>
                  <div class="lead">
                    Alerts
                  </div>
                  <p class="">
                    Our app generates alerts specific to each community hub. These may include water and power outage notices, general news etc.
                  </p>
                </div>
            </div>

        </section>

        <section id="onboarding" class="">
            <h1>Onboarding process</h1>
            <p>
              Get started in 3 easy steps
            </p>
            <div class="onboard-steps">
                <div class="card">
                    <h3>
                      <span
                        class="number"
                        >1</span
                      >
                    </h3>
                    <p>Visit the sign up page. You can also install the app on your home screen.</p>
                </div>
                <div class="card">
                    <h3>
                      <span
                        class="number"
                        >2</span
                      >
                    </h3>
                    <p>Create an account connected to your nearest community.</p>
                </div>
                <div class="card">
                    <h3>
                      <span
                        class="number"
                        >3</span
                      >
                    </h3>
                    <p>
                      Verify your account with a picture ID and one or more photos.
                    </p>
                </div>
        </section>

        <section id="benefits" class="shadow-card">
            <img src="{{ '/assets/images/benefits-bg.jpg' | relative_url }}" class="bg-img"/>

            <div class="benefits-content relative">
                <h1 class="">Benefits</h1>

                <p class="">
                    We aim to make the WeConnect platform the number one
                    online space for communities.
                </p>

                <div class="benefit card">
                  <div class="rounded-full"> 
                    <span class="iconify" data-icon="ant-design:check-circle-outlined"></span>
                  </div>
                  <p class="">
                    <bold>Connect</bold> with communities and interest groups.
                  </p>
                </div>
                <div class="benefit card">
                  <div class="rounded-full">
                    <span class="iconify" data-icon="ant-design:check-circle-outlined"></span>
                  </div>
                  <p class="">
                    <bold>Conveniently access</bold> general info and up-to-date alerts.
                  </p>
                </div>
                <div class="benefit card">
                  <div class="rounded-full">
                    <span class="iconify" data-icon="ant-design:check-circle-outlined"></span>
                  </div>
                  <p class="">
                    <bold>Easily share</bold> about events, concerns etc.
                  </p>
                </div>
            </div>
        </section>

        <section id="faqs">
            <h1>Have some questions?</h1>

            <div class="faq-questions"> 

                <div id="q1" class="faq-question">
                    <a id="t1" class="faq-title">
                      <span class="iconify" data-icon="il:arrow-down"></span>
                      What do I need to sign up?
                    </a>
                    <div id= "c1" class="faq-content">
                        <p class="faq-paragraph">
                          You need an email address and a picture ID. 
                          Ensure that the name on your ID is the name you use to sign up. 
                        </p>
                    </div>
                </div>

                <div id="q2" class="faq-question">
                  <a id="t2" class="faq-title">
                    <span class="iconify" data-icon="il:arrow-down"></span>
                    What happens to my ID and camera photos after the verification process?
                  </a>
                  <div id= "c2" class="faq-content">
                      <p class="faq-paragraph">
                        These images are discarded. We do not store them.
                      </p>
                  </div>
                </div>

                <div id="q3" class="faq-question">
                  <a id="t3" class="faq-title">
                    <span class="iconify" data-icon="il:arrow-down"></span>
                    Can I join more than one community forum?
                  </a>
                  <div id= "c3" class="faq-content">
                      <p class="faq-paragraph">
                        Yes. No further verification is needed.
                      </p>
                  </div>
                </div>

                <div id="q4" class="faq-question">
                  <a id="t4" class="faq-title">
                    <span class="iconify" data-icon="il:arrow-down"></span>
                    What if psosts on the app are considered to be harmful or dangerous?
                  </a>
                  <div id= "c4" class="faq-content">
                      <p class="faq-paragraph">
                        Posts can be reported so that the admin and creator of the post is
                          made aware of this issue. Posts can also be deleted by the 
                          aforementioned individuals.  
                      </p>
                  </div>
                </div>              

            </div>   
        </section>

        <section id="cta" class="shadow-card">
            <div class="">
                <p>Connecting Communities</p>
                <h3>Get connected and stay informed </h3>
                <div class="step-underline"></div>
            </div>
            <a
            href="https://we-connect-omnix.vercel.app/"
            class="btn btn--light-outline btn--medium"
            >Get WeConnect</a
            >
        </section>

      </div>
    </section>
  </article>
</div>
